/* Importando la fuente desde google*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* 
Notas: 
    primera posicion arriba y abajo
    segunda posicion izquierda y derecha
    -
    hover: cambia color al poner cursor
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    font-family: "Poppins", sans-serif;
}

/* Clases*/
.container {
    max-width: 1200px;
    margin: 0 auto;

}

/* Tamaño Botones del Slide*/
.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

/* Colores de botones del Slide*/
.swiper-button-next {
    color: #bd241b;
}

.swiper-button-prev {
    color: #bd241b;
}


/* Colores de botones de seleccion*/
.swiper-pagination-bullet {
    background-color: #d3d2d2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #bd241b;
    opacity: 1;
}

/* Diseño Menu*/
.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

/* Barra de Navegacion*/
.barra-navegacion {
    display: flex;
}

.menu-1 {

    margin-right: 180px;
}

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

/* Logos */
.logo-1 {
    width: 0;
}

.logo-2 {
    width: 150px;
}

/* Redes Sociales*/
.sociales {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #bd241b;
    border-radius: 50%;
}

/* cambiar color al poner cursor encima*/
.social:hover {
    background-color: #bd241b;
}

.social img {
    margin: 8px 0 0 10px;
}

/* Barra superior menu */
.menu .barra-navegacion ul li {
    position: relative;
    float: left;
}

.menu .barra-navegacion ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

/* cambiar color al poner cursor encima*/
.menu .barra-navegacion ul li:hover a {
    color: #bd241b;
}

#menu {
    display: none;
}

.menu.icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/* Dandole estilo al slider o carrusel*/

.slider {
    display: flex;
    align-items: center;
}

.slider-text {
    margin-left: 85px;
    width: 50%;
}

.slider-text h1 {
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-text p {
    font-size: 18px;
    color: #a7a7a7;
}

/* Dandole estilo al slider o carrusel (Botones)*/
.botones {
    margin-top: 50px;
}

.boton-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #bd241b;
    color: #a7a7a7;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.boton-1:hover {
    border: 2px solid #bd241b;
    background-color: #bd241b;
}

/* Dando formato a la imagen del slide*/
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/* Diseñando Tabs*/

.productos {
    background-color: #0d0d0d;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100x 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #a7a7a7;
    font-weight: 700;
    transition: background ease 0.2;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    border-bottom: 2px solid #bd241b;
    color: #ffffff;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

/* Diseñando Productos*/

.producto {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.producto img {
    width: 50%;
    text-align: left;
}

.producto-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-bottom: 50px;
}

.producto-img img {
    width: 150px;
    height: 120px;
}

.producto-text {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}

.producto-text h4 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

.producto-text p {
    color: #a7a7a7;
    font-size: 16px;
    margin-bottom: 15px;
}

.producto-text span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
}

/* Diseñando Informacion*/

.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 500px;
    height: 250px;
}

.info-text {
    width: 50%;
}

.info-text h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-text p {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}

.boton-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #bd241b;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.boton-2:hover {
    background-color: #641612;
}


/* Diseñando Seccion de Horario*/

.horario {
    padding: 100px 0px;
    background-color: #0d0d0d;

}

.horario-info h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* Centrando Info*/
.horario-text {
    display: flex;
    justify-content: space-between;
}

.text {
    color: #ffffff;
}

.text h4 {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
}

.text p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Seccion del mapa*/
.mapa {
    filter: grayscale(50%) invert(90%) contrast(90%);
}

/* Seccion Inferior*/
.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.enlaces h4 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.enlaces ul li a {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Parte responsive o adaptativa

dispositivos con un ancho de pantalla máximo de 991 píxeles o menos
*/
@media (max-width: 991px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 100px;
    }

    .menu label {
        display: initial;
    }

    .menu .barra-navegacion {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .barra-navegacion ul li {
        width: 100%;
    }

    #menu:checked~.barra-navegacion {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    .slider {
        flex-direction: column;
    }

    .slider-text {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-text h1 {
        font-size: 50px;
    }

    .slider-text p {
        font-size: 16px;
    }

    .boton-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    /*
    Estas reglas aplican estilos comunes a los elementos de paginación de un carrusel Swiper
    */
    .swiper-horizontal>.swiper-pagination-bullet,
    .swiper-pagination-bullet,
    .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin: 25px;
    }

    .info-text {
        width: 100%;
        text-align: center;
    }

    .info-text h2 {
        font-size: 50px;
    }

    .info-text p {
        font-size: 16px;
    }

    .boton-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-text {
        flex-direction: column;
    }

    .sociales {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .enlaces h4 {
        margin: 25px 0px 10px 0px;
    }
}